<h1><%= @game.title %>  </h1>
<h3>Average Rating: <%= @game.reviews.average(:rating) %></h3>
<p><%= @game.description %></p>
<p>
  number: <%= @game.number %>
</p>

<p><%= link_to ('Edit ' + @game.title), edit_game_path(@game) %></p>
<p><%= link_to 'Delete '+ @game.title + ' from games', game_path(@game),
                      :data => {:confirm => "Are you sure?",
                                :method => 'delete'}%></p>


<h2>Reviews:</h2>
<% if @game.reviews.any? %>
    <% @game.reviews.each do |review| %>
    <h4> <%= link_to review.name, game_review_path(@game, review) %> rated this game <%= review.rating %>/10</h4>
    <p> <%= review.opinion %> </p>
    <% end %>
<% else %>
  <p> No current reviews.</p>
<% end %>



<p><%= link_to 'Add review', new_game_review_path(@game) %></p>

<% if @previous %>
  <%= link_to 'Previous game', game_path(@previous) %>
<% end %>

<% if @next %>
  <%= link_to 'Next game', game_path(@next) %>
<% end %>
